

<ion-content [fullscreen]="true">
  
     
  <div class="logo-container"   >
    <img #logo  src="assets/icon/logoblanco.png" alt="logotipo de la Empresa" class="logo" />
  </div>

  <div class = "text-titulo">
    <p> Perfil Usuario </p>
  </div>

<div class="text-perfil">


  <ion-card>
  <tr> INGRESE NOMBRES</tr>
  <p> Osvaldo Nicasio  </p>
   </ion-card>

   <ion-card>

  <tr> INGRESE APELLIDOS </tr>
  <p> Chetumori Gonzalez  </p>
    </ion-card>

    <ion-card>
  <tr> INGRESE RUT </tr>
  <p> 17516847-8  </p>
    </ion-card>
    <ion-card>
  <tr> INGRESE CORREO ELECTRONICO </tr>
  <p> OS.CHETUMORIDUOCUC.CL  </p>
    </ion-card>
   

</div>

<div class="boton-volver">
  <ion-button expand="block" type="submit" (click)="Tohome2()"> Guardar Cambios </ion-button>
</div>



 
</ion-content>
