<ion-card>
  <ion-card-header>
    <ion-card-title> Ingreso de nueva Asignatura </ion-card-title>
    <ion-card-subtitle> Formulario </ion-card-subtitle>
  </ion-card-header>

<ion-card *ngIf="asistencia">
  <ion-grid>
    <ion-row>
      <ion-col>{{asistencia.asignatura}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{asistencia.profesor}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{asistencia.fecha}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{asistencia.hora}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
