

<ion-content [fullscreen]="true">
  
     
  <div class="logo-container"   >
    <img #logo  src="assets/icon/logoblanco.png" alt="logotipo de la Empresa" class="logo" />
  </div>

  <div class = "text-titulo">
    <p> Perfil Usuario </p>
  </div>

<div class="text-perfil">


  <ion-card>
  <tr> NOMBRES</tr>
  <p> Osvaldo Nicasio </p>
   </ion-card>

   <ion-card>

  <tr> APELLIDOS </tr>
  <p> Chetumori Gonzalez  </p>
    </ion-card>

    <ion-card>
  <tr>  RUT </tr>
  <p> 17516847-8  </p>
    </ion-card>
    <ion-card>
  <tr> CORREO ELECTRONICO </tr>
  <p> OS.CHETUMORIDUOCUC.CL  </p>
    </ion-card>
  
</div>

<div class="boton-volver">
  <ion-button expand="block" type="submit" (click)="goTohome()"> Guardar Cambios </ion-button>
</div>



 
</ion-content>
