

<ion-content [fullscreen]="true">
  
     
  <div class="logo-container"   >
    <img #logo  src="assets/icon/logoblanco.png" alt="logotipo de la Empresa" class="logo" />
  </div>

  <div class = "text-titulo">
    <p> Mesa de Servicio  </p>
  </div>

  <div class=" text-mesa">
    <p> Como cliente eres lo mas importante y queremos lo mejor para ti !! no dudes en ponerte en contacto al whatsap +569 90350821 para contestar cualquier duda o problema que puedas tener.</p>
  </div>

  <!-- INICIO CODIGO PARA CONTACTO WHATSAPP -->
  <div class="logo-whatsap">
    <a href="https://wa.me/56984406117" target="_blank">
    <img #logo  src="assets/icon/whatsap.png" alt="logotipo de la Empresa" class="logo"/>
    </a>
  </div>
  <!-- FIN CODIGO PARA CONTACTO WHATSAPP -->

  <div class="text-whatsap"   >
    <p> CONTACTANOS!!</p>
  </div>

  <div class="boton-volver">
    <ion-button expand="block" type="submit" (click)="goTohome()"> Volver </ion-button>
  </div>
  
  


</ion-content>