

<ion-content [fullscreen]="true">
  
     
  <div class="logo-container"   >
    <img #logo  src="assets/icon/logoblanco.png" alt="logotipo de la Empresa" class="logo" />
  </div>

  <div class = "text-titulo">
    <p> Consultar Asistencia  </p>
  </div>

  <div class="text-perfil">


    <tr> Matematica Aplicada </tr>
    
    <tr> Filosofia </tr> 
    
  
    <tr> Aplicaciones Moviles </tr>
   
  
    <tr> Calidad de Software </tr> 
    
  
    <tr> Fe + 1 </tr> 
    <tr> Asistencia a 3 de 7 Clases  </tr> <p> 70% </p>
   
  
  </div>
  
  <div class="boton-consultar">
    <ion-button expand="block" type="submit" (click)="goTohome()"> Volver </ion-button>
  </div>








</ion-content>

